<div class="container gutter-3">
 <div data-controller="comments" >
          <div data-controller="edit-user-post">
            <div class="post <%= @userpost.user == current_user ? "current-user-post" : "other-user-post" %>" data-controller="play-button">
              <div class="post-top d-flex">
                <div class="song-info">
                  <div class="position-relative mb-3">
                    <div class="play-song">
                      <img src="<%= @userpost.image_url %>" alt="" class="album-artwork">
                    </div>
                     <div class="d-flex justify-content-between" >
                      <div class="song-name-container">
                        <% if @userpost.song_name.length < 15 %>
                          <h3><%= @userpost.song_name.slice(0, 15) %></h3>
                        <% else %>
                          <h3 class="scrolling-text"><%= @userpost.song_name.slice(0, 40) %></h3>
                        <% end %>
                  </div>
                  <% if current_user == @userpost.user %>
                      <i class="fa-solid fa-pen" data-action="click->edit-user-post#edit"></i>
                  <% end %>
                </div>
                <div class="d-flex">
                  <h4 class="flex-grow-1"><%= @userpost.artist %></h4>
                  <a href="<%= @userpost.link %>" target="_blank"><i class="fa-brands fa-spotify text-success fs-1"></i></a>
                </div>
                <h5><%= @userpost.caption.slice(0, 40) %><%= @userpost.caption.length > 40 ? "..." : "" %></h5><br>
                </div>
               </div>
            </div>
          </div>
</div>
