<div class="top-center-text">

    <div class="avatar-div">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "avatar-largest" %>
    <% else %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
    <% end %>
    </div>
      <div class="name-div">
      <p class="user-name"><%= @user.username %></p>
      </div>
<% if current_user == @user %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "medium-button-blue-pink"%>
</div>


<!-- IN CASE WE WANT AN EDIT USER FORM
<%= simple_form_for [@user] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :bio %>
  <%= f.input :avatar_url %>
  <%= f.submit class: "btn btn-outline-info border-1"%>
  <% end %> -->

</div>


<div class="title-and-filter">
  <div class="profile-title">
    <h3 class="mt-3">Posts</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>





<div class="show-page-background-pink carousel slide" data-interval="false" data-bs-ride="carousel" id="myCarousel">
  <div class="post-cards carousel-inner">
    <% @posts.each_with_index do |post, index| %>
      <% if index % 3 == 0  %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <div class="d-flex">
            <a href="<%=post.link%>" target="_blank" class="custom-link">
              <div class="mini-card" data-scroll-target="card">
                <img src="<%= post.image_url %>" alt="">
                <div class="description-div">
                  <span><%= post.song_name.truncate(11)%></span>
                  <p>By <%= post.artist.truncate(20) %></p>
                </div>
              </div>
            </a>
            <% if (index + 1) < @posts.length %>
            <a href="<%= @posts[index + 1].link %>" target="_blank" class="custom-link">
              <div class="mini-card" data-scroll-target="card">
                <img src="<%= @posts[index + 1].image_url %>" alt="">
                <div class="description-div">
                  <span><%= @posts[index + 1].song_name.truncate(11)%></span>
                  <p>By <%= @posts[index + 1].artist.truncate(20) %></p>
                </div>
              </div>
            </a>
            <% end %>
            <% if (index + 2) < @posts.length %>
            <a href="<%= @posts[index + 2].link %>" target="_blank" class="custom-link">
              <div class="mini-card" data-scroll-target="card">
                <img src="<%= @posts[index + 2].image_url %>" alt="">
                <div class="description-div">
                  <span><%= @posts[index + 2].song_name.truncate(11)%></span>
                  <p>By <%= @posts[index + 2].artist.truncate(20) %></p>
                </div>
              </div>
             </a>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<% if @user == current_user %>
<div class="title-and-filter mt-4">
  <div class="profile-title">
    <h3 class="mt-3">Saved</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>
  <div class="show-page-background-green carousel slide" data-interval="false" data-bs-ride="carousel" id="loveCarousel">
    <div class="post-cards carousel-inner">
      <% @favourite_posts.each_with_index do |favourite, index| %>
        <% if index % 3 == 0  %>
          <div class="carousel-item <%= index == 0 ? "active" : "" %>">
            <div class="d-flex">
              <a href="<%=favourite.post.link%>" target="_blank" class="custom-link">
                <div class="mini-card" data-scroll-target="card">
                  <img src="<%= favourite.post.image_url %>" alt="">
                  <div class="description-div">
                    <span><%= favourite.post.song_name.truncate(11)%></span>
                    <p>By <%= favourite.post.artist.truncate(20) %></p>
                  </div>
                </div>
              </a>
              <% if (index + 1) < @favourite_posts.length %>
              <a href="<%=@favourite_posts[index + 1].post.link %>" target="_blank" class="custom-link">
                <div class="mini-card" data-scroll-target="card">
                  <img src="<%= @favourite_posts[index + 1].post.image_url %>" alt="">
                  <div class="description-div">
                    <span><%= @favourite_posts[index + 1].post.song_name.truncate(11)%></span>
                    <p>By <%= @favourite_posts[index + 1].post.artist.truncate(20) %></p>
                  </div>
                </div>
              </a>
              <% end %>
              <% if (index + 2) < @favourite_posts.length %>
              <a href="<%=@favourite_posts[index + 2].post.link %>" target="_blank" class="custom-link">
                <div class="mini-card" data-scroll-target="card">
                  <img src="<%= @favourite_posts[index + 2].post.image_url %>" alt="">
                  <div class="description-div">
                    <span><%= @favourite_posts[index + 2].post.song_name.truncate(11)%></span>
                    <p>By <%= @favourite_posts[index + 2].post.artist.truncate(20) %></p>
                  </div>
                </div>
              </a>
              <% end %>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#loveCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#loveCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>

<% else %>
    <h4 class="text-light"> Bio</h4>
    <p class="text-light"><%= @user.bio %></p>
  <% if @userpost.present? %>


    <div data-controller="comments" >
    <div data-controller="edit-user-post">
        <div class="post <%= @userpost.user == current_user ? "current-user-post" : "other-user-post" %>" data-controller="play-button">
          <div class="post-top d-flex">
          <div class="song-info">
            <div class="position-relative mb-3">
              <div class="play-song">
                <% if @userpost.preview %>
                  <div class=" ms-2" data-action="click->play-button#play" ><i  id="fa-solid"class="fa-solid fa-play" style="color: #f5f5f5;"></i></div>
                <% end %>
                <img src="<%= @userpost.image_url %>" alt="" class="album-artwork">
              </div>
              <div class="offset-song-icons d-flex justify-content-start w-100" style="gap: 1rem;">
                <% if @userpost.likes.where(user: current_user).any? %>
                  <%= link_to post_like_path(@userpost, @userpost.likes.where(user: current_user).first), data: {turbo_method: :delete} do %>
                    <i class="offset-icon fa-solid fa-heart text-danger" id="heart-icon"></i>
                  <% end %>
                <% else %>
                  <%= form_with(url: post_likes_path(@userpost), method: :post, local: true, html: { class: "bookmark-form" }) do |form| %>
                    <button type="submit" class="bookmark-button">
                      <i class="offset-icon fa-solid fa-heart" id="heart-icon"></i>
                    </button>
                  <% end %>
                <% end %>

                <span><p data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Likes"
                        data-bs-content="<ul>
                          <% @userpost.likes.each do |like| %>
                            <li><%= like.user.username %></li>
                          <% end %>
                        </ul>"
        data-bs-html="true">

                          <%= @userpost.likes.count %>
                      </p></span>
                <i class="offset-icon fa-solid fa-comment" id="message-icon" data-action="click->comments#toggle"></i>
                <% if @userpost.favourite_posts.where(user: current_user).any? %>
                    <%= link_to post_favourite_post_path(@userpost, @userpost.favourite_posts.where(user: current_user).first), style:"margin-left: auto;", data: {turbo_method: :delete} do %>
                    <i class="offset-icon fa-solid fa-bookmark blue" ></i>
                  <% end %>

                <% else %>
                  <%= form_with(url: post_favourite_posts_path(@userpost), method: :post, local: true, html: { class: "bookmark-form", style: "margin-left: auto;" }) do |form| %>
                        <button type="submit" class="bookmark-button">
                        <i class="offset-icon fa-solid fa-bookmark" id="save-icon" style="margin-left: auto;"></i>
                        </button>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-between" >

              <div class="song-name-container">
                <% if @userpost.song_name.length < 15 %>
                  <h3><%= @userpost.song_name.slice(0, 15) %></h3>
                <% else %>
                  <h3 class="scrolling-text"><%= @userpost.song_name.slice(0, 40) %></h3>
                <% end %>
              </div>
              <% if current_user == @userpost.user %>
                  <i class="fa-solid fa-pen" data-action="click->edit-user-post#edit"></i>
              <% end %>
            </div>
            <div class="d-flex">
              <h4 class="flex-grow-1"><%= @userpost.artist %></h4>
              <a href="<%= @userpost.link %>" target="_blank"><i class="fa-brands fa-spotify text-success fs-1"></i></a>
            </div>
            <h5><%= @userpost.caption.slice(0, 40) %><%= @userpost.caption.length > 40 ? "..." : "" %></h5><br>
          </div>
        </div>
          <%= render 'shared/comment',  post: @userpost %>
          <%= render 'shared/edit_card', post: @userpost %>
      </div>
    </div>

    <style>




    </style>

    <% else %>

    <h3 class="text-light"><%= @user.first_name.capitalize %> has not posted today!</h3>

    <% end %>

    <% end %>
    <br>
