<div class="top-center-text">

    <%= image_tag @user.photo, class: "avatar-largest" %>
      <h2><%= @user.username %></h2>

</div>

<div class="title-and-filter">
  <div class="profile-title">
    <h3 class="mt-3">My posts</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>





<div class="show-page-background-pink carousel slide" data-interval="false" data-bs-ride="carousel" id="myCarousel">
  <div class="post-cards carousel-inner">
    <% @posts.each_with_index do |post, index| %>
      <% if index % 3 == 0  %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <div class="d-flex">
            <div class="mini-card" data-scroll-target="card">
              <img src="<%= post.image_url %>" alt="">
              <div class="description-div">
                <span><%= post.song_name.truncate(11)%></span>
                <p>By <%= post.artist.truncate(20) %></p>
              </div>
            </div>
            <% if (index + 1) < @posts.length %>

              <div class="mini-card" data-scroll-target="card">
                <img src="<%= @posts[index + 1].image_url %>" alt="">
                <div class="description-div">
                  <span><%= @posts[index + 1].song_name.truncate(11)%></span>
                  <p>By <%= @posts[index + 1].artist.truncate(20) %></p>
                </div>
              </div>
            <% end %>
            <% if (index + 2) < @posts.length %>
              <div class="mini-card" data-scroll-target="card">
                <img src="<%= @posts[index + 2].image_url %>" alt="">
                <div class="description-div">
                  <span><%= @posts[index + 2].song_name.truncate(11)%></span>
                  <p>By <%= @posts[index + 2].artist.truncate(20) %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<% if @user == current_user %>
<div class="title-and-filter mt-4">
  <div class="profile-title">
    <h3 class="mt-3">My love list</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>
  <div class="show-page-background-green carousel slide" data-interval="false" data-bs-ride="carousel" id="myCarousel">
    <div class="post-cards carousel-inner">
      <% @favourite_posts.each_with_index do |favourite, index| %>
        <% if index % 3 == 0  %>
          <div class="carousel-item <%= index == 0 ? "active" : "" %>">
            <div class="d-flex">
              <div class="mini-card" data-scroll-target="card">
                <img src="<%= favourite.post.image_url %>" alt="">
                <div class="description-div">
                  <span><%= favourite.post.song_name.truncate(11)%></span>
                  <p>By <%= favourite.post.artist.truncate(20) %></p>
                </div>
              </div>
              <% if (index + 1) < @favourite_posts.length %>

                <div class="mini-card" data-scroll-target="card">
                  <img src="<%= @favourite_posts[index + 1].image_url %>" alt="">
                  <div class="description-div">
                    <span><%= @favourite_posts[index + 1].song_name.truncate(11)%></span>
                    <p>By <%= @favourite_posts[index + 1].artist.truncate(20) %></p>
                  </div>
                </div>
              <% end %>
              <% if (index + 2) < @favourite_posts.length %>
                <div class="mini-card" data-scroll-target="card">
                  <img src="<%= @favourite_posts[index + 2].image_url %>" alt="">
                  <div class="description-div">
                    <span><%= @favourite_posts[index + 2].song_name.truncate(11)%></span>
                    <p>By <%= @favourite_posts[index + 2].artist.truncate(20) %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>


<br>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
