<div class="top-center-text">
  <div class="avatar-div">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "avatar-largest" %>
    <% else %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
    <% end %>
  </div>
  <div class="name-div">
    <p class="user-name"><%= @user.username %></p>
    <% if @user == current_user %>
      <%= link_to notifications_path, class: "" do %>
        <i class="fa-regular fa-bell" mx-4 style="color: #ffffff;"></i>
      <% end %>
    <% end %>
  </div>
<% if current_user == @user %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "medium-button-blue-pink"%>
</div>


    <div class="title-and-filter mt-4" data-controller="index-filter">
      <div class="profile-title">
        <h3 data-index-filter-target="posts">Posts</h3>
      </div>
      <div class="profile-filter">
      <div class="filtering">
            <%= form_with url: user_path(current_user), method: :get, class: "d-flex d-none", data: {index_filter_target: "form"} do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: ""
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-danger border-1" %>
            <% end %>
          <%= image_tag "filter.svg", data: {
              action: "click->index-filter#click"}%>
          <div>
          </div>
        </div>
      </div>
    </div>


    <%= render partial: 'my_posts' %>

    <div class="title-and-filter mt-4" data-controller="favourite-filter">
      <div class="profile-title">
        <h3 data-favourite-filter-target="saved">Saved</h3>
      </div>
      <div class="favourite-filter">
      <div class="profile-filter">
        <%= form_with url: user_path(current_user), method: :get, class: "d-flex d-none favourite-form", data: {favourite_filter_target: "form"} do %>
              <%= text_field_tag :query_favourites,
                    params[:query_favourites],
                    class: "form-control",
                    placeholder: ""
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-success border-1" %>
            <% end %>
        <%= image_tag "filter.svg", data: {
              action: "click->favourite-filter#click"}%>
            </div>
          </div>
        </div>
      </div>
    </div>

  <%= render partial: 'my_love_list' %>

<% else %>
  <h4 class="text-light"> Bio</h4>
  <p class="text-light"><%= @user.bio %></p>
    <% if current_user.friendships_as_follower.where(followee_id: @user, accepted: true).any? && current_user.posts.where(post_date: Date.today).present?%>
      <% if @userpost.present? %>
        <%= render partial: 'post' %>
        <% else %>
          <h3 class="text-light"><%= @user.first_name.capitalize %> has not posted today!</h3>
        <% end %>
      <% elsif current_user.friendships_as_follower.where(followee_id: @user, accepted: nil).any? %>
        <p class="text-light">Waiting to accept request</p>
      <% elsif current_user.friendships_as_follower.where(followee_id: @user, accepted: true).any? %>
        <p class="text-light">Please post your song to see your friends post</p>
        <div class="button-center">
          <%= link_to "Post a Song", new_post_path, class: "big-button-pink m-3" %>
        </div>
      <% else %>
      <%= button_to "follow", user_friendships_path(@user), method: :post, class:"small-button-pink mx-2" %>
      <% end %>
<% end %>
