<div class="top-center-text">
  <%= image_tag current_user.photo, class: "avatar-largest" %>
  <h3><%= current_user.username %></h3>
</div>

<!-- IN CASE WE WANT AN EDIT USER FORM
<%= simple_form_for [@user] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :bio %>
  <%= f.input :avatar_url %>
  <%= f.submit class: "btn btn-outline-info border-1"%>
  <% end %>
</div>
-->

<div class="title-and-filter">
  <div class="profile-title">
    <h3 class="mt-3">My posts</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>

<div class="show-page-background-pink">
  <% @posts.each do |post| %>
      <img src="<%= post.image_url %>" alt="" class="album-artwork">
      <%= post.song_name %>
      <%= post.artist %>
  <% end %>
  <div class="arrow-right"><%= image_tag "arrow.svg" %></div>
</div>

<div class="title-and-filter">
  <div class="profile-title">
    <h3 class="mt-3">My love list</h3>
  </div>
  <div class="profile-filter">
    <%= image_tag "filter.svg" %>
  </div>
</div>

<div class="show-page-background-green">
  <% if @user == current_user %>
    <h2>My love list</h2>
      <% @favourite_posts.each do |post| %>
         <img src="<%= post.image_url %>" alt="" class="album-artwork">
          <%= post.song_name %>
          <%= post.artist %>
      <% end %>
  <% end %>
  <div class="arrow-right"><%= image_tag "arrow.svg" %></div>
</div>

<br>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
