<div class="single-comment d-flex">
        <div class="flex-grow-1">
            <% if comment.user.photo.attached? %>
              <a href="/users/<%= comment.user.id %>"><%= cl_image_tag comment.user.photo.key %> </a>
            <% else %>
              <%= link_to user_path(comment.user) do %>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
              <% end %>
            <% end %>
            <span><%= comment.content %></span>
        </div>
            <div class="delete">
              <%= link_to post_comment_path(comment.post, comment), data: {turbo_method: :delete} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
</div>
