<div class="pink-edit d-none" data-comments-target="editCard">
  <div class="content-edit">
    <div class="edit-title">edit</div>
    <div class="edit-body">
      <%= simple_form_for post, class: "edit-body" do |f| %>
        <%= f.input :link, class: "song-link-div" %>
        <%= f.input :caption, class: "caption-div" %>
        <%= f.submit "submit", class: "small-button-green"%>
      <% end %>
    </div>
  </div>
</div>


<% #  <%= render 'shared/edit_card',  post: post %>
 <% # <%= render 'shared/edit_card' %>
