<div class="footer">
<% if current_user %>
  <a href="/posts"><%= image_tag "logo.svg" %> </a>
  <%= link_to "friends", friendships_path, class: "medium-button-green" %>
  <%= link_to "charts", "#", class: "medium-button-blue-pink" %>
  <a href="/users/<%=current_user.id%>"><%= image_tag current_user.photo %></a>
<% else %>

<% end %>
</div>
