 <div class="d-none mt-3 container" data-follow-target="followers">
    <div >
      <% @myfollowers.each do |follower| %>
      <div class="d-flex mb-3" style="padding: 0 18px;">
        <div class="flex-grow-1">
        <%= link_to user_path(follower.followee), class: "custom-link" do %>
          <div class="d-flex">
            <div class="av">
              <% if follower.followee.photo.attached? %>
                <%= cl_image_tag follower.followee.photo.key, class: "avatar-bordered" %>
              <% else %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
              <% end %>
            </div>
            <div class="names mx-2 text-white">
              <p class="text-truncate" style="max-width: 180px"><%= follower.followee.first_name %><%= follower.followee.last_name %></p>
              <%= follower.followee.username %>
            </div>
          </div>
        <% end %>
        </div>
        <div>
          <%= button_to "unfollow", reject_friendship_path(follower), method: :patch, class:"small-button-pink ms-2"%>
        </div>
      </div>
      <% end %>
    </div>
</div>
