 <div class="d-none mt-3 container" data-follow-target="pending">
    <div>
      <% @pendings.each do |request| %>
      <div class="d-flex mb-3" style="padding: 0 18px;">
        <div class="flex-grow-1">
        <%= link_to user_path(request.followee), class: "custom-link" do %>
          <div class="d-flex">
            <div class="av">
            <% if request.followee.photo.attached? %>
              <%= cl_image_tag request.followee.photo.key, class: "avatar-bordered" %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
            <% end %>
            </div>
            <div class="names mx-2 text-white">
             <p class="text-truncate" style="max-width: 180px"> <%= request.followee.first_name %>
              <%= request.followee.last_name %></p>
              <%= request.followee.username %>
            </div>
          </div>
        <% end %>
        </div>
        <div>
          <%= button_to "cancel", reject_friendship_path(request), method: :patch, class:"small-button-red ms-2"%>

        </div>
      </div>
      <% end %>
    </div>
</div>
