 <div class="d-none mt-3 container" data-friends-target="requests">
  <h2>Requests</h2>
    <div>
      <% @myrequests.each do |request| %>
      <div class="d-flex mb-3">
        <div class="flex-grow-1">
          <div class="d-flex">
            <div class="av">
              <%= cl_image_tag request.follower.photo.key, class: "avatar-bordered" %>
            </div>
            <div class="names mx-2">
              <%= request.follower.first_name %>
              <%= request.follower.last_name %> <br>
              <%= request.follower.username %>
            </div>
          </div>
        </div>
        <div>
          <%= button_to "Accept", accept_friendship_path(request), method: :patch, class:"small-button-pink mx-2" %>
          <%= button_to "Reject", reject_friendship_path(request), method: :patch, class:"small-button-pink mx-2"%>
        </div>
      </div>
      <% end %>
    </div>
</div>
