 <div class="d-none mt-3 container" data-friends-target="suggestions">
  <h2>Suggestions</h2>
    <div>
      <% @users.each do |user| %>
      <div class="d-flex mb-3">
        <div class="flex-grow-1">
          <div class="d-flex">
            <div class="av">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
            <% end %>
            </div>
            <div class="names mx-2 text-white">
              <%= user.first_name %>
              <%= user.last_name %> <br>
              <%= user.username %>
            </div>
          </div>
        </div>
        <div>
          <%= button_to "follow", user_friendships_path(user), method: :post, class:"small-button-pink mx-2" %>
        </div>
      </div>
      <% end %>
    </div>
</div>
