    <div class="post <%= post.user == current_user ? "current-user-post" : "other-user-post" %>">
      <div class="post-top">
      <%= cl_image_tag post.user.photo.key, class: "avatar-bordered" %>
        <%= post.user.username.capitalize %> <br>
      </div>
      <div class="song-info">
        <div class="position-relative mb-3">
          <img src="<%= post.image_url %>" alt="" class="album-artwork">
          <audio src="<%= post.preview_url %>" controls></audio>
          <div class="offset-song-icons d-flex justify-content-start w-100" style="gap: 1rem;">
            <i class="offset-icon fa-solid fa-heart" id="heart-icon"></i>
            <i class="offset-icon fa-solid fa-comment" id="message-icon"></i>
            <% if post.favourite_posts.where(user: current_user).any? %>
                <i class="offset-icon fa-solid fa-bookmark text-dark"  style="margin-left: auto;"></i>
            <% else %>
              <%= form_with(url: post_favourite_posts_path(post), method: :post, local: true, html: { class: "bookmark-form", style: "margin-left: auto;" }) do |form| %>
                    <button type="submit" class="bookmark-button">
                    <i class="offset-icon fa-solid fa-bookmark" id="save-icon" style="margin-left: auto;"></i>
                    </button>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <h3><%= post.song_name.slice(0, 20)%></h3>
          <% if current_user == post.user %>
            <%= link_to edit_post_path(post), id:"edit-icon" do %>
              <i class="fa-solid fa-pen"></i>
            <%end %>
          <% end %>
        </div>

        <h4><%= post.artist %></h4>
        <h5><%= post.caption.slice(0, 40)%><%= post.caption.length > 40 ? "..." : "" %></h5><br>
      </div>
    </div>
