 <div data-controller="comments" >
 <div data-controller="edit-user-post">
    <div class="post <%= post.user == current_user ? "current-user-post" : "other-user-post" %>" data-controller="play-button">
    <%# post user icon and name bar start %>
      <div class="post-top d-flex">
        <% if post.user.photo.attached? %>
         <%= link_to user_path(post.user) do %>
          <%= cl_image_tag post.user.photo.key, class: "me-2 avatar-bordered" %>
          <% end %>
        <% else %>
          <%= link_to user_path(post.user) do %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
          <% end %>
        <% end %>
        <%= post.user.username.capitalize %>  <audio data-play-button-target="audio" controls src="<%= post.preview %>" class="mx-2 d-none"></audio> <br>
      </div>
      <%# ser icon and name bar end %>
      <div class="song-info">
        <div class="position-relative">
          <div class="play-song">
            <% if post.preview %>
              <div class=" ms-2" data-action="click->play-button#play" ><i  id="fa-solid"class="fa-solid fa-play" style="color: #f5f5f5;"></i></div>
            <% end %>
             <img src="<%= post.image_url %>" alt="" class="album-artwork">
          </div>
          <div class="offset-song-icons d-flex justify-content-start w-100">
            <% if post.likes.where(user: current_user).any? %>
              <%= link_to post_like_path(post, post.likes.where(user: current_user).first), data: {turbo_method: :delete} do %>
                <i class="offset-icon fa-solid fa-heart text-danger" id="heart-icon"></i>
              <% end %>
            <% else %>
              <%= form_with(url: post_likes_path(post), method: :post, local: true, html: { class: "bookmark-form" }) do |form| %>
                <button type="submit" class="bookmark-button">
                  <i class="offset-icon fa-regular fa-heart" id="heart-icon"></i>
                </button>
              <% end %>
            <% end %>
            <span >
              <p class="like-count" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Likes"
                data-bs-content="<ul>
                  <% post.likes.each do |like| %>
                    <li><%= like.user.username %></li>
                  <% end %>
                </ul>"
                data-bs-html="true">
                <%= post.likes.count %>
              </p>
            </span>

            <i class="offset-icon fa-regular  fa-comment" id="message-icon" data-action="click->comments#toggle"></i>
            <% if post.favourite_posts.where(user: current_user).any? %>
                <%= link_to post_favourite_post_path(post, post.favourite_posts.where(user: current_user).first), style:"margin-left: auto;", data: {turbo_method: :delete} do %>
                <i class="offset-icon fa-solid fa-bookmark fill-color" ></i>
              <% end %>
            <% else %>
              <%= form_with(url: post_favourite_posts_path(post), method: :post, local: true, html: { class: "bookmark-form", style: "margin-left: auto;" }) do |form| %>
                    <button type="submit" class="bookmark-button">
                    <i class="offset-icon fa-regular fa-bookmark" id="save-icon" style="margin-left: auto;"></i>
                    </button>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between " >
          <div class="song-name-container">
            <% if post.song_name.length < 15 %>
              <h3><%= post.song_name.slice(0, 15) %></h3>
            <% else %>
              <h3 class="scrolling-text"><%= post.song_name.slice(0, 40) %></h3>
            <% end %>
          </div>
          <% if current_user == post.user %>
              <i class="fa-solid fa-pen"   data-action="click->edit-user-post#edit"></i>

          <% end %>
        </div>
        <div class="d-flex">
          <h4 class="flex-grow-1"><%= post.artist %></h4>
          <a href="<%= post.link %>" target="_blank"><i class="fa-brands fa-spotify text-success fs-1"></i></a>
        </div>
        <h5><%= post.caption.slice(0, 40) %><%= post.caption.length > 40 ? "..." : "" %></h5><br>
      </div>
    </div>
      <%= render 'shared/comment',  post: post %>
      <%= render 'shared/edit_card', post: post %>
  </div>
</div>

<style>




</style>
