<div class="container gutter-3">
   <p class="text-center">Today's Feed</p>
   <% if current_user.posts.where(post_date: Date.today).any? %>
   <% @allposts.each do |post| %>
   <%# partial post inside %>
   <div data-controller="comments" >
      <div data-controller="edit-user-post">
         <div class="post <%= post.user == current_user ? "current-user-post" : "other-user-post" %>" data-controller="play-button">
            <div class="post-top d-flex">
               <% if post.user.photo.attached? %>
                <%= link_to user_path(post.user) do %>
                <%= cl_image_tag post.user.photo.key, class: "me-2 avatar-bordered" %>
                <% end %>
               <% else %>
                <%= link_to user_path(post.user) do %>
               <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
                <% end %>
               <% end %>
               <%= post.user.username.capitalize %>
               <audio data-play-button-target="audio" controls src="<%= post.preview %>" class="mx-2 d-none"></audio>
               <br>
            </div>


            <div class="song-info" data-controller="likes" >
               <div class="position-relative mb-3">

                  <div class="play-song">
                     <% if post.preview %>
                     <div class=" ms-2" data-action="click->play-button#play" ><i  id="fa-solid"class="fa-solid fa-play" style="color: #f5f5f5;"></i></div>
                     <% end %>
                     <img src="<%= post.image_url %>" alt="" class="album-artwork">
                  </div>


                  <div class="offset-song-icons d-flex justify-content-start w-100" style="gap: 0.5rem;" data-controller="favourites">
                      <% if !current_user.likes.map(&:post_id).include?(post.id) %>
                        <%= link_to post_likes_path(post), data: { turbo_method: :post, action: "click->likes#likeAction", likes_target: "button" } do %>
                          <i class="offset-icon fa-regular fa-heart" id="heart-icon" ></i>
                        <% end %>
                      <% else %>
                        <%= link_to post_like_path(post, post.likes.where(user: current_user).first), data: { turbo_method: :delete, action: "click->likes#likeAction", likes_target: "button"  } do %>
                          <i class="offset-icon fa-solid fa-heart text-danger" id="heart-icon"></i>
                        <% end %>
                      <% end  %>

                          <span data-likes-target="likeCount">
                              <p data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Likes"
                                data-bs-content="<ul>
                                <% post.likes.each do |like| %>
                                <li><%= like.user.username %>d</li>
                                <% end %>
                                </ul>"
                                data-bs-html="true">
                                <%= post.likes.count %>
                              </p>
                          </span>

                     <i class="offset-icon fa-regular fa-comment" id="message-icon" data-action="click->comments#toggleComments"></i>

                     <% if post.favourite_posts.where(user: current_user).any? %>
                      <%= link_to post_favourite_post_path(post, post.favourite_posts.where(user: current_user).first), style:"margin-left: auto;", data: {turbo_method: :delete, action: "click->favourites#favAction", favourites_target: "fav"} do %>
                      <i class="offset-icon fa-solid fa-bookmark" ></i>
                      <% end %>
                     <% else %>
                        <%= link_to post_favourite_posts_path(post), style:"margin-left: auto;", data: {turbo_method: :post, action: "click->favourites#favAction", favourites_target: "fav"} do %>
                      <i class="offset-icon fa-regular fa-bookmark" ></i>
                      <% end %>
                     <% end %>

                  </div>
               </div>
               <div class="d-flex align-items-center justify-content-between" >
                  <div class="song-name-container">
                     <% if post.song_name.length < 14 %>
                     <h3><%= post.song_name.slice(0, 14) %></h3>
                     <% else %>
                     <h3><%= post.song_name.slice(0, 14)... %></h3>
                     <% end %>
                  </div>
                  <% if current_user == post.user %>
                  <i class="fa-solid fa-pen" data-action="click->comments#toggleEdit"></i>
                  <% end %>
               </div>
               <div class="d-flex">
                  <h4 class="flex-grow-1"><%= post.artist %></h4>
                  <a href="<%= post.link %>" target="_blank"><i class="fa-brands fa-spotify text-success fs-1"></i></a>
               </div>
               <h4><em> <%= post.caption.slice(0, 40) %><%= post.caption.length > 40 ? "..." : "" %></em></h4>
               <br>
            </div>
         </div>
         <%# finishing partial post inside%>
         <%# partial comment inside %>
         <div
            class="comments-wrapper d-none <%= post.user == current_user ? "pink-bg" : "green-bg" %>"
            style="box-shadow:6px 0px 0px 0px <%= post.user == current_user ? "#BF2C71;" : "#61A54E;" %>"
            data-comments-target="commentsDiv" data-controller="commentsajax">
            <div class="content">
               <div class="comments-title">Comments</div>
               <div class="comments-body">
                  <div class="">
                     <%= simple_form_for [post, Comment.new],
                        html: { class: "d-flex white-bar", data: { commentsajax_target: "form", action: "submit->commentsajax#send"} } do |f| %>
                     <%= f.input :content,
                        as: :string,
                        label: false,
                        placeholder: "Leave your Comment",
                        wrapper_html: { class: "flex-grow-1", style: "margin-bottom: 0 !important; margin-left: 16px; border: none;" },
                        input_html: { class: "h-100 bg-white" } %>
                     <%= f.button :button do %>
                     <i class="fa-solid fa-check"></i>
                     <% end %>
                     <% end %>

                  </div>
                  <div class="friend-comment" data-commentsajax-target="container">
                     <% post.comments.each do |comment| %>
                     <%= render "shared/comment", comment: comment %>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
         <%# finishing partial comment  %>

         <%# partial edit inside %>
         <div class="pink-edit d-none" data-comments-target="editCard">
            <div class="content-edit">
               <div class="edit-title">Edit song link</div>
               <div class="edit-body">
                  <%= simple_form_for post, class: "edit-body",style: "border-radius: 0px; height: auto;"  do |f| %>
                  <%= f.input :link, class: "song-link-div",input_html: { style: "border-radius: 15px; height: 45px;" }%>
                  <%= f.input :caption, class: "caption-div",input_html: { style: "border-radius: 15px; height: 55px;" } %>
                  <div class="b-center">
                     <%= f.submit "submit", class: "  medium-button-green"%>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
         <%# finish partial edit  %>

      </div>
   </div>
   <style>
   </style>
   <% end %>
   <% else %>
   <%# post song partial start %>
   <div class="popup-box ">
      <div class="d-flex align-items-center gutter-3">
         <div class="box-shape">
            <div class="inner-box-text">
               <h3 class ="inner-text">You cannot access the feed without posting a song for the day</h3>
               <div class="button-center">
                  <%= link_to "Post a Song", new_post_path, class: "big-button-pink m-3" %>
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <%# post song partial end %>
</div>
<style>
   .text-center{
   margin: 3rem;
   color: var(--BACKGROUND-PRIMARY-TEXT);
   font-family: 'IBM Plex Mono', monospace;
   font-weight: 400;
   font-size: 28px;
   }
</style>
