<div class="container">
  <h1 class="text-center">My Feed</h1>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-top">
        <%= cl_image_tag post.user.photo.key, class: "avatar-bordered" %>
        <%= post.user.username %> <br>

      </div>

      <div class="song-info">
        <img src="" alt="" class="album-artwork">
        Title: <%= post.song_name %> <br>
        Artist: <%= post.artist %> <br>
        Caption: <%= post.caption %> <br>
      </div>
      <%= link_to "edit post", edit_post_path(post) %>
    </div>
  <% end %>
  <% @myposts.each do |post| %>
    <div class="post">
      <div class="post-top">
        <img src="" alt="" class="avatar-bordered"> <%= post.user.username %> <br>
      </div>
      <div class="song-info">
        <img src="" alt="" class="album-artwork">
        <em>Title:</em> <%= post.song_name %> <br>
        <em>Artist:</em> <%= post.artist %> <br>
        <em>Caption:</em> <%= post.caption %> <br>
      </div>
      <%= link_to "edit post", edit_post_path(post) %>
    </div>
    <% end %>

</div>
