<!DOCTYPE html>
<html>
  <head>
    <title>Wavelength</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="vh-100">
    <%# <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main style="padding-bottom: 49px;">
      <%= yield %>
    </main>
    <%# TODO: Add logic to not show this on the homepage / devise pages %>
    <%= render 'shared/footer' %>
  </body>
</html>
